@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto+Condensed&display=swap");

:root {
  --main-bg-color: #446ea6;
  --main-font-color: #f28705;
  --secondary-bg-color: #77acf2;
  --highlighter: #f29f05;
  --special: #bf4904;
  --primary-font-family: "Roboto";
  --secondary-font-family: "Montserrat";
}

body {
  background-color: var(--main-bg-color);
  color: var(--main-font-color);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: repeat(4, 1fr);
}

/* //// Header //// */
.header {
  grid-area: 1/1/2/4;
}
.name {
  font-family: var(--primary-font-family);
  grid-row: 2/3;
  color: #77acf2;
}

.item1 {
  grid-column-start: 4;
}

/* //// MAIN //// */
.hero {
  grid-area: 2/1/4/5;
}
.img {
  height: 20em;
  width: 20em;
  /* grid-area: 4/1/3/2; */
  border-radius: 50%;
}

.text1 {
  grid-area: 2/2/3/4;
  color: var(--highlighter);
}

/* //// FOOTER //// */

.footer {
  grid-area: 4/1/5/2;
}
.footer img {
  height: 2em;
  width: 2em;
}
