*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  font-family: "American Typewriter";
  margin: 0;
  background-color: #d3d3d3;
}

h2 {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  color: slategrey;
}
header {
  display: grid;
  grid-template-columns: auto 5em 5em 5em 5em 5em 5em;
  grid-template-rows: 50% 50%;
  background-color: aquamarine;
  color: grey;
  margin: 0;
  padding: 1em 1em 1em 1em;
  font-size: 18px;
  position: sticky;
  top: 0;
}

a:hover {
  font-weight: 900;
  color: lightpink;
}

.name {
  padding-left: 1em;
}
a {
  text-decoration: none;
  color: grey;
}

main {
  display: grid;
  padding: 1em 1em 1em 1em;
  grid-template-columns: repeat(2, 50%);
  grid-template-rows: 30%, 70%;
  justify-items: center;
}

main img {
  grid-area: 1 / 1 / 2 / 3;
  padding-bottom: 2em;
}
.aboutMe {
  text-align: left;
  width: 35em;
  height: fit-content;

  background-color: #c0c0c0;
  padding: 1em 2em 1em 2em;
}

.motivation {
  text-align: left;
  width: 35em;
  height: fit-content;
  background-color: #c0c0c0;
  padding: 1em 2em 1em 2em;
}
.interests {
  padding: 1em 1em 1em 1em;
  text-align: left;
  height: fit-content;
}
