*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  font-family: "American Typewriter";
  margin: 0;
  background-color: #d3d3d3;
}

h2 {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  color: slategrey;
}
header {
  display: grid;
  grid-template-columns: auto 5em 5em 5em 5em 5em 5em;
  grid-template-rows: 50% 50%;
  background-color: aquamarine;
  color: grey;
  margin: 0;
  padding: 0.5em 0em 0.5em 0.5em;
  font-size: 18px;
  position: sticky;
  top: 0;
}

a:hover {
  font-weight: 900;
  color: lightpink;
}

a {
  text-decoration: none;
  color: grey;
}

.main {
  display: grid;
  padding: 0.5em 0.5em 0.5em 0.5em;
  grid-template-columns: repeat(2, 50%);
  grid-template-rows: repeat(2, 50%);
  justify-items: center;
}

.main-image {
  grid-area: 1 / 1 / 2 / 3;
}
.main-item1 {
  text-align: left;
  width: 30em;
  height: fit-content;
  grid-gap: 0.5em;
}

.main-item2 {
  padding: 0.5em 0.5em 0.5em 0.5em;
  text-align: left;
  height: fit-content;
}
